
*.bak
nav.time
QMapTool/nav.time

doc/html/*.html
doc/html/QMapTool/*.html
doc/html/Downloads/*.html

doc/.QMSAllHelp/*.*
doc/qms/.QMSHelp/*.*
doc/qmt/.QMTHelp/*.*

doc/.QMSAllHelp
doc/qms/.QMSHelp
doc/qmt/.QMTHelp

*.qhc
*.qch
*.qhp